<form method="post" action="{{ path('app_perfume_delete', {'id': perfume.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ perfume.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
