{{ form_start(form) }}
    {{ form_widget(form) }}
    <a type="button" class="btn btn-secondary" href="{{ path('app_perfume_index') }}">Back</a>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {% if perfume.id %}
        {{ include('perfume/_delete_form.html.twig') }}
    {% endif %}
{{ form_end(form) }}

