{% extends 'base.html.twig' %}

{% block title %}Edit {{ perfume.name }}{% endblock %}

{% block body %}
    <h1>Edit {{ perfume.name }}</h1>

    {{ include('perfume/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
