{% extends 'base.html.twig' %}

{% block title %}Perfumes list
{% endblock %}

{% block body %}
	<div class="container bg-dark shadow-lg text-light p-3">
		<div class="row align-items-center mb-2">
			<div class="col-6">
				<h1>Perfume list</h1>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<a type="button" class="btn btn-success" href="{{ path('app_perfume_new') }}">Create new Perfume</a>
			</div>
		</div>
		<div class="row d-flex justify-content-end align-items-end mb-3">
			<div class="col-4">
				<input class="form-control" id="searchPerfume" type="text" placeholder="Search..">
			</div>
		</div>
		<div class="container">
			<ul class="list-group" id="perfumes">
				{% for perfume in perfumes %}
					<a class="text-decoration-none has-popover" href="{{ path('app_perfume_show', {'id': perfume.id}) }}" data-toggle="popover" title={{ perfume.name }}>
						<li class="list-group-item">{{ perfume.name }}</li>
					</a>
				{% else %}
					<li class="list-group-item">No perfume found</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<script>
		$(document).ready(function () {
			$("#searchPerfume").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#perfumes li").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
	<script>
			$(document).ready(function () {
			$('body').popover({
				html: true,
				content: function () {
					return $(this).html();
				},
				selector: '.has-popover',
				trigger: 'hover'
        	});
		});
	</script>
{% endblock %}
