{% extends 'base.html.twig' %}

{% block title %}New Perfume{% endblock %}

{% block body %}
<div class="container bg-light p-3 shadow-lg">
    <h1>Create new Perfume</h1>

    {{ include('perfume/_form.html.twig') }}
    
    </div>
{% endblock %}
