{% extends 'base.html.twig' %}

{% block title %}{{perfume.name}} details
{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
		<div class="card shadow-lg" style="width: 25rem;">
			<img class="card-img-top" src={{ perfume.image }} alt={{ perfume.name }}>
			<div class="card-body">
				<h1 class="card-title text-center mb-3">{{ perfume.name }}</h1>
				<h5>Composition:</h5>
				<ul class="list-group mb-3">
					{% for item in perfume.composition %}
						<a class="text-decoration-none" href="{{ path('app_composition_item_show', {'id': item.id}) }}">
							<li class="list-group-item">{{ item.name }}</li>
						</a>
					{% else %}
						<li class="list-group-item">No composition item found</li>
					{% endfor %}
				</ul>
				<h5>Price:</h5>
				<p class="card-text">{{ perfume.price }}
					€</p>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-4 d-flex align-items-center justify-content-center">
						<a type="button" class="btn btn-secondary" href="{{ path('app_perfume_index') }}">Back</a>
					</div>
					<div class="col-4 d-flex align-items-center justify-content-center">
						<a type="button" class="btn btn-warning" href="{{ path('app_perfume_edit', {'id': perfume.id}) }}">Edit</a>
					</div>
					<div class="col-4 d-flex align-items-center justify-content-center">
						{{ include('perfume/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
