<form method="post" action="{{ path('app_composition_item_delete', {'id': composition_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ composition_item.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
