{{ form_start(form) }}
{{ form_widget(form) }}
    <a type="button" class="btn btn-secondary" href="{{ path('app_composition_item_index') }}">Back</a>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {% if composition_item.id %}
        {{ include('composition_item/_delete_form.html.twig') }}
    {% endif %}
{{ form_end(form) }}
