{% extends 'base.html.twig' %}

{% block title %}Edit Composition item {{ composition_item.name }}{% endblock %}

{% block body %}
    <h1>Edit Composition item {{ composition_item.name }}</h1>

    {{ include('composition_item/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
