{% extends 'base.html.twig' %}

{% block title %}Composition items list{% endblock %}

{% block body %}
	<div class="container bg-dark shadow-lg text-light p-3">
		<div class="row align-items-center mb-2">
			<div class="col-6">
				<h1>Composition items list</h1>
			</div>
			<div class="col-6 d-flex justify-content-end">  
				<a type="button" class="btn btn-success" href="{{ path('app_composition_item_new') }}">Create new composition item</a>
			</div>
		</div>
        <div class="row d-flex justify-content-end align-items-end mb-3">
			<div class="col-4">
				<input class="form-control" id="searchItem" type="text" placeholder="Search..">
			</div>
		</div>
		<div class="container">
			<ul class="list-group" id="items">
				{% for item in items %}
					<a class="text-decoration-none" href="{{ path('app_composition_item_show', {'id': item.id}) }}">
						<li class="list-group-item">{{ item.name }}</li>
					</a>
				{% else %}
					<li class="list-group-item">No item found</li>
				{% endfor %}
			</ul>
		</div>
	</div>
    <script>
        $(document).ready(function () {
            $("#searchItem").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#items li").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            });
        });
    </script>
{% endblock %}
