{% extends 'base.html.twig' %}

{% block title %}New CompositionItem{% endblock %}

{% block body %}
<div class="container bg-light p-3 shadow-lg">
    <h1>Create new CompositionItem</h1>

    {{ include('composition_item/_form.html.twig') }}
</div>
{% endblock %}
