{% extends 'base.html.twig' %}

{% block title %}Composition item
	{{ composition_item.name }}
{% endblock %}

{% block body %}
	<div class="container bg-light shadow-lg p-3">
		<h1>Composition item
			{{ composition_item.name }}</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Name</th>
					<td>{{ composition_item.name }}</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-4 d-flex align-items-center justify-content-center">
				<a type="button" class="btn btn-secondary" href="{{ path('app_composition_item_index') }}">Back</a>
			</div>
			<div class="col-4 d-flex align-items-center justify-content-center">
				<a type="button" class="btn btn-warning" href="{{ path('app_composition_item_edit', {'id': composition_item.id}) }}">Edit</a>
			</div>
			<div class="col-4 d-flex align-items-center justify-content-center">
				{{ include('composition_item/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
