<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">Passion of Action</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
				<a class="nav-link" href="{{ path('app_perfume_index') }}">Our products</a>
                <a class="nav-link" href="{{ path('app_composition_item_index') }}">Our products composition</a>
			</div>
		</div>
	</div>
</nav>
